[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	read = group Replication
[access "refs/*"]
	owner = group user/Hualet Wang (hualet)
	owner = group user/Island (deepinzhangshuang)
	owner = group user/gs342 (gs342)
	owner = group user/leaeasy (leaeasy)
	owner = group user/shule1987
[access "refs/tag/*"]
	pushTag = group user/Hualet Wang (hualet)
	pushTag = +force group user/Island (deepinzhangshuang)
	pushTag = group user/gs342 (gs342)
